"localUser=18700" "userDN=/DC=ch/DC=cern/OU=Organic Units/OU=Users/CN=mccance/CN=453200/CN=Gavin Mccance" "userFQAN=/dteam/Role=NULL/Capability=NULL" "userFQAN=/dteam/cern/Role=NULL/Capability=NULL" "jobID=https://wms201.cern.ch:9000/fl_K71zmOZYz2T_QniyWtw" "ceID=t2-ce-01.to.infn.it:2119/jobmanager-lcgpbs-short" "lrmsID=280876.t2-ce-01.to.infn.it" "timestamp=2009-01-25 19:52:53"
"localUser=18745" "userDN=/DC=ch/DC=cern/OU=Organic Units/OU=Users/CN=slemaitr/CN=609231/CN=Sophie Anne Lemaitre" "userFQAN=/dteam/Role=NULL/Capability=NULL" "userFQAN=/dteam/cern/Role=NULL/Capability=NULL" "jobID=https://rb124.cern.ch:9000/_V1YKTrpVszFbkAQY2Us8w" "ceID=t2-ce-01.to.infn.it:2119/jobmanager-lcgpbs-short" "lrmsID=280877.t2-ce-01.to.infn.it" "timestamp=2009-01-25 20:02:58"
"localUser=2567" "userDN=/O=GRID-FR/C=FR/O=CNRS/OU=CREATIS/CN=Tristan Glatard" "userFQAN=/biomed/Role=NULL/Capability=NULL" "userFQAN=/biomed/lcg1/Role=NULL/Capability=NULL" "jobID=https://egee-rb-07.cnaf.infn.it:9000/hMIlICUIZII_r1XFKbjoAg" "ceID=t2-ce-01.to.infn.it:2119/jobmanager-lcgpbs-biomed" "lrmsID=280878.t2-ce-01.to.infn.it" "timestamp=2009-01-25 20:12:53"
"localUser=1234" "userDN=/O=GRID-FR/C=FR/O=CNRS/OU=CREATIS/CN=Tristan Glatard" "userFQAN=/biomed/Role=NULL/Capability=NULL" "userFQAN=/biomed/lcg1/Role=NULL/Capability=NULL" "ceID=t2-ce-01.to.infn.it:2119/jobmanager-lcgpbs-biomed" "lrmsID=280880.t2-ce-01.to.infn.it" "timestamp=2009-01-25 20:12:53"
