############################################
##  dgas_clean_wJobs configuration file  ###
############################################

sql_server_name = "localhost"
sql_user        = "root"
sql_password    = ""
sql_database    = "hlr"

clean_wJobs_var_path     = "/opt/glite/var/dgas/"
clean_wJobs_var_log_path = "/opt/glite/var/dgas/log/"
clean_wJobs_buffer       = "clean_wJobs.buf"
clean_wJobs_lock         = "clean_wJobs"
clean_wJobs_log          = "clean_wJobs.log"
 
